button {
  width: 200px;
  height: 50px;
  font-size: 18px;
  border: none;
  border-top-right-radius: 50px 50px;
  border-top-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-bottom-left-radius: 50px 50px;
  background-color: rgba(61, 149, 206, 0.75);
  color: #FFFFFF;

  &:hover {
    background-color: rgba(61, 149, 206, 1);
  }

  transition: all 0.1s ease-in-out;
}