<div ng-show="showModal" class="modal">
  <div class="cancel-friends" ng-click="showModal = false"><i class="fa fa-times fa-2x"></i></div>
  <span ng-repeat="friend in friendsInGroup track by $index">
    <img ng-src="{{friend.profile_picture_url}}" /></span>
  <form class="charge-form" ng-submit="chargeGroup(note, amount)">
    <input type="text" placeholder="$99.99" ng-model="amount" />
    <input type="textfield" placeholder="Type a note here ..." ng-model="note" style="width: 100%; height: 100px; font-size: 64px;" />
    <button>Charge them NOW</button>
  </form>
</div>
<div class="groups-container overlay-white">
  <div ng-hide="showFriends" class="groups-section">
    <h1>Groups</h1>
    <ul>
      <li ng-repeat="group in groups track by $index">
        <div class="group-display-block">
          <div ng-click="showFriendsFunc(group)" class="group-display-name">{{group.name}}</div>
        </div>
      </li>
    </ul>
  </div>
  <div ng-show="showFriends" class="friends-in-group-section">
      <button style="margin-top: 8px; position: absolute; top: 0; right: 0;" ng-click="showModal = true">Charge</button>
    <h1>Friends in {{currentGroup.name}}</h1>
    <ul>
      <li ng-repeat="friend in friendsInGroup track by $index">
        <div class="venmo-display-block">
          <div class="venmo-display-name">{{friend.display_name}}</div>
          <div class="venmo-display-image">
            <a href=""><img ng-src="{{friend.profile_picture_url}}" /></a>
          </div>
        </div>
      </li>
    </ul>
  </div>  
  <div ng-show="showFriends" class="friends-section">
    <div class="cancel-friends" ng-click="hideFriends()"><i class="fa fa-times fa-2x"></i></div>
    <h1>Add Friends</h1>
    <ul>
      <li ng-repeat="friend in friends track by $index">
        <div class="venmo-display-block">
          <div class="venmo-display-name">{{friend.display_name}}</div>
          <div class="venmo-display-image">
            <img ng-src="{{friend.profile_picture_url}}" ng-click="addFriendToGroup(friend)" />
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>